client/canvasdebugger/**
client/commandline/**
client/debugger/**
client/framework/**
!client/framework/devtools.js
!client/framework/devtools-browser.js
!client/framework/selection.js
!client/framework/target*
!client/framework/toolbox*
client/inspector/markup/test/doc_markup_events_*.html
client/inspector/rules/test/doc_media_queries.html
client/memory/test/chrome/*.html
client/performance/components/test/test_jit_optimizations_01.html
client/projecteditor/**
client/responsive.html/test/browser/touch.html
client/responsivedesign/**
!client/responsivedesign/responsivedesign.jsm
client/scratchpad/**
client/shadereditor/**
client/shared/*.jsm
client/shared/components/reps/reps.js
client/shared/components/reps/test/mochitest/*.html
!client/shared/components/reps/test/mochitest/test_reps_infinity.html
!client/shared/components/reps/test/mochitest/test_reps_nan.html
!client/shared/components/reps/test/mochitest/test_reps_promise.html
!client/shared/components/reps/test/mochitest/test_reps_symbol.html
!client/shared/components/reps/test/mochitest/test_reps_text-node.html
client/shared/components/test/mochitest/*.html
!client/shared/components/test/mochitest/test_stack-trace.html
client/shared/shim/test/test_*.html
client/shared/test/browser_toolbar_webconsole_errors_count.html
client/shared/webgl-utils.js
client/shared/widgets/*.jsm
client/storage/test/*.html
!client/storage/test/storage-cookies.html
!client/storage/test/storage-overflow.html
!client/storage/test/storage-search.html
!client/storage/test/storage-unsecured-iframe.html
!client/storage/test/storage-unsecured-iframe-usercontextid.html
client/webaudioeditor/**
client/webconsole/net/**
client/webconsole/test/**
client/webconsole/console-output.js
client/webconsole/hudservice.js
client/webconsole/webconsole-connection-proxy.js
client/webconsole/webconsole.js
client/webide/**
!client/webide/components/webideCli.js
server/tests/browser/storage-*.html
!server/tests/browser/storage-unsecured-iframe.html
server/tests/browser/stylesheets-nested-iframes.html
server/tests/unit/xpcshell_debugging_script.js
shared/platform/content/test/test_clipboard.html
shared/qrcode/tests/mochitest/test_decode.html
shared/tests/mochitest/*.html
shared/webconsole/test/test_*.html
client/framework/toolbox-process-window.js
client/performance/system.js
client/webide/webide-prefs.js
client/preferences/**
shared/jsbeautify/*
shared/acorn/*
shared/gcli/source/*
shared/node-properties/*
shared/pretty-fast/*
shared/sourcemap/*
shared/sprintfjs/*
shared/qrcode/decoder/*
shared/qrcode/encoder/*
client/shared/demangle.js
client/shared/source-map/*
client/shared/vendor/*
client/sourceeditor/codemirror/*.js
client/sourceeditor/codemirror/**/*.js
client/sourceeditor/tern/*
client/sourceeditor/test/cm_mode_ruby.js
client/sourceeditor/test/codemirror/*
client/inspector/markup/test/lib_*
client/jsonview/lib/require.js
server/actors/utils/automation-timeline.js
client/debugger/test/mochitest/code_binary_search.js
client/debugger/test/mochitest/code_math.min.js
client/debugger/test/mochitest/code_math_bogus_map.js
client/debugger/test/mochitest/code_ugly*
client/debugger/test/mochitest/code_worker-source-map.js
client/framework/test/code_ugly*
client/inspector/markup/test/events_bundle.js
client/netmonitor/test/xhr_bundle.js
server/tests/unit/babel_and_browserify_script_with_source_map.js
server/tests/unit/setBreakpoint*
server/tests/unit/sourcemapped.js
bin/**
profile/**
